{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="card" style="margin-top:40px;">
<br>
<button id="install-button" class="btn" style="display: none;">Install Fee Reminder</button>
 
    <h2>Bursar Login</h2>
    <form method="post">
        <label>School Email</label>
        <input type="text" name="email" required>
        
        <label>Password</label>
        <input type="password" name="password" required>
        
        <button type="submit" class="btn">Login</button>
    </form>
</div>
{% endblock %}

<script type="text/javascript">
let deferredPrompt;

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent the mini-infobar from appearing
  e.preventDefault();
  // Stash the event so it can be triggered later
  deferredPrompt = e;
  // Show your custom install button
  showInstallButton();
});

function showInstallButton() {
  const installButton = document.getElementById('install-button');
  installButton.style.display = 'block';
  installButton.addEventListener('click', () => {
    // Show the install prompt
    deferredPrompt.prompt();
    deferredPrompt.userChoice.then((choiceResult) => {
      if (choiceResult.outcome === 'accepted') {
        console.log('User accepted the install prompt');
      } else {
        console.log('User dismissed the install prompt');
      }
      deferredPrompt = null;
    });
  });
}

</script>