{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
<div class="nav">
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('upload') }}">Select Debtors</a>
    <a href="{{ url_for('settings') }}">Settings</a>
</div>

<div class="card">
    <h2>School Settings</h2>
    <form method="post">
        <label>School Name</label>
        <input type="text" name="school_name" value="{{ config.school_name }}">
        
        <label>Change Password</label>
        <input type="text" name="password" value="{{ config.password_hash }}" >
        
        <label>Confirm New Password</label>
        <input type="text" name=" " value="{{ config.password_hash }}">
   
        <label>Fee Type</label>
        <input type="text" name="theme" value="{{ config.message_theme }}" placeholder="eg: Tution, Stationary...">
        
        <button type="submit" class="btn">Save Settings</button>
    </form>
</div>

{% endblock %}